body {
  background-color: rgb(232, 246, 255);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1481026469463-66327c86e544?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=608&q=80);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}
#createdBy{
  color: rgb(16, 17, 124);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  
}
#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4250bb76;
  height: 56px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
}

#header a {
  padding-left: 15px;
}


#container {
  background-color: #42a1bb7d;
  box-shadow: 2px 2px 5px #000;
  width: 50%;
  min-width: 700px;
  border-radius: 5px;
}

#inputContainer {
  display: flex;
  justify-content: center;
 height: 4rem;
 
}
.content{
  min-height:90vh ;
}

#toDoInput {
  outline: none;
  width: 75%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: #0160A2;
  color: #FFF;
  font-size: 20px;
}

#toDoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}
h1{
  color: white;
  font-weight: 700;
  font-size: 3rem;
  background-color: rgba(0, 110, 255, 0.37);
  width: 30%;
  border-radius: 15px;
}
